body {
  background: #f9f0ae;
}

#content {
  width: 100%;
  position: absolute;
}

svg {
  stroke-width: 0.3;
  fill: none;
  width: 100%;
  height: 100vh;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#main-svg {
  visibility: visible;
  position: absolute;
}

#second-svg {
  visibility: hidden;
  position: absolute;
  top: -120px;
  left: -80px;
}

#third-svg {
  z-index: -1;
  visibility: hidden;
  position: absolute;
  top: -120px;
  left: -60px;
}

#rotate {
  transform: rotate(20deg);
}

#rotate-2 {
  transform: rotate(30deg);
}

#needle {
  width: 150px;
  height: 8px;
  background: grey;
  position: absolute;
  left: 80vw;
  top: 35vh;
  border-radius: 0 10px 10px 0;
}

#needle:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px 20px 4px 0px;
  border-color: transparent grey transparent transparent;
  border-style: solid;
  position: absolute;
  left: -20px;
}

#needle:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 3px;
  background: #f9f0ae;
  border-radius: 40%;
  position: absolute;
  left: 135px;
  top: 2.5px;
}

button {
  position: absolute;
  left: 80vw;
  top: 40vh;
  outline: none;
  width: 13%;
  max-width: 150px;
  height: 10vh;
  border-radius: 10%;
  box-shadow: -1px -1px 2px inset #aab1b4;
  font-size: 0.8rem;
}

#slow-motion {
  top: 55vh;
}
