@media screen and (min-width: 767px) {
    .balloonGameContainer {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gameTitle {
        width: 400px;
        padding: 20px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        font-size: 24px;
    }
    
    .logoCatImg {
        width: 60px;
        height: 63px;
        object-fit: fill;
        margin-top: 40px;  
        margin-right: 300px;
    }
}

@media screen and (max-width: 767px) {
    .balloonGameContainer {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .gameTitle {
        width: 200px;
        padding: 20px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        font-size: 22px;
    }
    
    .logoCatImg {
        width: 40px;
        height: 43px;
        object-fit: fill;
        margin-top: 20px;  
        margin-right: 170px;
    }
}