.container {
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    position: relative;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 5vh; */
}

.bgtools{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.open_btn{
  cursor: pointer;
}