@media screen and (min-width: 1024px) {
    .nameContainer {
        margin-top: 4%;
        width: 80%;
        max-width: 1000px;
        height: 55%;
        min-height: 250px;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .loadingSpinner {
        scale: 0.25;
        height: 12%;
        margin-top: -4%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .nameContainer {
        margin-top: 3%;
        width: 80%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .loadingSpinner {
        scale: 0.25;
        height: 12%;
        margin-top: -4%;
    }
}

@media screen and (min-width: 520px) and (max-width: 767px) {
    .nameContainer {
        margin-top: 3%;
        width: 80%;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .loadingSpinner {
        scale: 0.25;
        height: 12%;
        margin-top: -5%;
    }
}

@media screen and (max-width: 520px) {
    .nameContainer {
        margin-top: 3%;
        width: 80%;
        min-width: 200px;
        height: 70%;
        background-color: rgba(255, 255, 255, 0.63);
        border-radius: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .loadingSpinner {
        scale: 0.25;
        height: 10%;
        margin-top: -4%;
    }
}