.EmptyContentPage{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.emptybox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    /* background-color: red; */
    width: 60%;
    min-width: 880px;
    height: 50%;
    height: 384px;
}

.logo>img{
    width: 100%;
    height: 100%;
}

.comment {
    margin-top: 10px;
    font-size: 42px;
    width: 60%;
    min-width: 880px;
    text-align: center;
    color: var(--white-color);
}

.exitbox{
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: end;
}

.exit_btn{
    background-color: var(--white-color);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.exit_btn:hover{
    opacity: 80%;
}
.btn_comment{
    color: var(--black-color);
    /* color: red; */
}