.shake_content{
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 82%;
    min-height: 500px;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.shake_title{
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    
}

.shake_explain{
    font-size: 2rem;
    color: var(    --placeholder-text);
}

.shake_img{
    /* background-color: red; */
    width: 300px;
    height: 350px;
    margin-top: 30px;
}

.shake_img img{
  height: 100%;
  width: 100%;
}
