.emotion_content{
    width: 90%;
    height: 90%;
    margin-top: 30px;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    /* justify-content: space-around; */
    margin-top: 2%;
}
ul{
    padding-left: 0px;
}

.emotion_intro{
    display: flex;
    background-color: white;
    min-width: 940px;
    width: 100%;
    /* min-width: 500px; */
    height: 300px;
    justify-content: space-between;
    border-radius: 20px;
}

.intro_img{
    width: 30%;
    height: 100%;
    min-width: 250px;
    /* background-color: red; */
}


.intro_img img{
    width: 100%;
    height: 100%;
    min-width: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* background-color: red; */
}

.intro_explain{
    /* background-color: blue; */
    width: 100%;
    /* word-break: keep-all;  */
    padding: 20px;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.intro_comment{
    width: 100%;
    word-break: keep-all;
    /* min-width: 900px; */
    height: 100%;
    font-size: 2rem;
    /* background-color: red; */
    text-align: center;
    /* word-break: keep-all; */
}

.emotion_select{
    /* background-color: red; */
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emotion_grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;
}

.emotion_grid>li{
    background-color: white;
    border-radius: 10px;
    height: 80px;
    min-height: 80px;
    min-width: 300px;
    max-width: 470px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.emotion_box{
    width: 25%;
    color: white;
    font-size: 48px;
    background-color: red;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emotion_ment{
    /* padding-left: 20px; */
    font-size: 34px;
    /* background-color: red; */
    width: 75%;
    text-align: center;
}


