.QuizCreate{
    display: flex;
    width: 100%;
    height: 100%;
 
}
.left_side{
    /* background-color: red; */
    width: 350px;
    height: 100vh;
}

.quiz_list{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.quiz_list>li{
    margin-top: 30px;
    width: 305px;
    height: 210px;
    background-color: var(--wrong-answer);
    border-radius: 10px ;
}
.right_side{
    width: calc(100% - 350px);
    background-color: blue;
}