.content_title{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.content_title input{
   width: 100%;
   height: 90px; 
   text-align: center;
   font-size: 36px;
   border-radius: 20px;
   border-style: none;
}

.content_images{
    z-index: 0;
    background-color: var(--white-color);
    width: 400px;
    height: 250px;
    min-height: 200px;
    border-radius: 20px;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var( --placeholder-text);
    margin-bottom: 2%;
    margin-top: 2.5%;
}

.plus_font{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus_comment{
    font-size: 48px;
    cursor: pointer;
}

.effect_font{
    display: none;
}
.content_images:hover .effect_font{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content_answerbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 30px;
}


.content_answer{
    background-color: var(--white-color);
    height: 65px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 460px;
    margin-bottom: 20px;
}

.content_color{
    background-color: red;
    height: 100%;
    width: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_color div{
   font-size: 50px;
   display: flex;
   color: var(--white-color);
   
}

.content_input{
    /* background-color: red; */
    height: 100%;
    display: flex;
    width: 100%;
    
}

.content_input input{
    width: 90%;

    font-size: 28px;
    padding-left: 10px;
    outline: none;
    border-style: none;
    background-color: transparent;
}


.content_add{
    /* background-color: var(--white-color); */
    font-size: 48px;
    display: flex;
    text-align: center;
    width: 90px;
    color:var( --wrong-answer);
    cursor: pointer;
}

.content_add:hover{
   color: var(--black-color)
}

