.QuizCreate {
    display: flex;
    width: 100%;
    height: 100%;

}

.left_side {
    /* background-color: red; */
    width: 350px;
    height: 100vh;
}

.quiz_list {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.quiz_item {
    margin-bottom: 20px;
}

.quiz_title {
    /* background-color: red; */
}

.quiz_content {
    width: 305px;
    height: 210px;
    border-radius: 10px;
    background-color: var(--wrong-answer);
}
.quiz_add{
   /* background-color: red; */
   width: 305px;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.quiz_add>button{
    display: block;
    border-style: none;
    width: 144px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
    color: var(--white-color);
}

.game_add_btn{
    background-color: var(--button-one);
}
.quiz_add_btn{
    background-color: var( --button-two);
}


.right_side {
    width: calc(100% - 350px);
    background-color: blue;
}