.content {
    width: 80%;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("/src/assets/images/report_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    padding: 3.5vh 5% 3.5vh 5%;
    font-size: 22px;
}

.listColFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 6% 6% 6%;
}

.addIcon {
    color: var(--placeholder-text);
    font-size: 40px;
    cursor: pointer;
}

.empty_comment {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--placeholder-text);
}

.bgtools {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}