.content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.title {
    padding: 3.5vh 5% 3.5vh 5%;
    font-size: 28px;
}

.listColFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 6% 6% 6%;
}

.addIcon {
    color: var(--placeholder-text);
    font-size: 40px;
    cursor: pointer;
}

.empty_comment{
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--placeholder-text);
}