.container {
}

.nextBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 5vh;
}

.currentSubmitChart {
  position: fixed;
  top: 40%;
  right: 10px;
  width: 20%;
  height: 20%;
}

.submitChart {
  width: 70%;
}