.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 10%;
  box-sizing: border-box;
  gap: 5%;
}

.logo {
  width: 35%;
  display: flex;
  min-width: 160px;
  justify-self: center;
  align-self: center;
}

.whiteBox {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.pinBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .whiteBox {
    width: 57%;
    flex-direction: row;
    padding: 3% 8%;
    border-radius: 10px;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 767px) {
  .whiteBox {
    flex-direction: column;
    min-width: 200px;
    padding: 20px 5%;
    border-radius: 5px;
    font-size: 20px;
  }
}

.pinBox > p {
  margin-top: 8%;
  margin-bottom: 8%;
}

.whiteBox > img {
  height:"100%";
  object-fit:"contain";
}