.container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 2vh;
  box-sizing: border-box;
  /* gap: 1%; */
}

.qrPinWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* gap: 1vh; */
}

.logo {
  width: 35%;
  display: flex;
  min-width: 160px;
  justify-self: center;
  align-self: center;
  /* margin-top: 4%; */
  margin-bottom: 1.5vh;
}

.whiteBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.pinBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  text-align: center;
  /* margin-right: 13%; */
}

.pinNum {
  font-size: 3vw;
}

.lobby {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px) {
  .whiteBox {
    width: 80%;
    max-width: 1000px;
    flex-direction: row;
    /* padding: 1%; */
    padding: 15px;
    /* padding-right: 2%; */
    /* border-radius: 10px; */
    border-radius: 20px;
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 767px) {
  .whiteBox {
    flex-direction: column;
    width: 80%;
    min-width: 200px;
    /* padding: 20px 5%; */
    padding: 15px;
    /* border-radius: 5px; */
    border-radius: 20px;

    font-size: 20px;
  }
  .pinBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    text-align: center;
  }
}
.pinBox > p {
  margin-top: 8%;
  margin-bottom: 8%;
}

.whiteBox > img {
  height: "100%";
  object-fit: "contain";
}

.btn {
  margin-top: 4vh;
}
