:root {
  --egg: white;
  --egg-shadow: #e3e3e3;
  --crack: #adadad;
  --chick: #ffde7a;
  --orange: #f3943d;
}

@media screen and (min-width: 767px) {
  #content {
    width: 80%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;   
    background-color: rgba(255, 255, 255, 0.271);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  #content {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;   
    background-color: rgba(255, 255, 255, 0.271);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.eggContainer {
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: auto; */
  /* margin-bottom: 1.5rem; */
}

@keyframes shadow-wobble {
  0% {
  }

  25% {
    transform: translateX(0.4em);
  }

  50% {
    transform: translateX(-0.4em);
  }

  75% {
    transform: translateX(0.4em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wobble {
  0% {
  }

  25% {
    transform: rotate(16deg);
  }

  50% {
    transform: rotate(-16deg);
  }

  75% {
    transform: rotate(16deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.egg {
  background: var(--egg);
  width: 65%;
  height: 85%;
  border: solid 3px black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: inset 0px -20px 0px 0px var(--egg-shadow);
  z-index: 1;
}

.eggShadow {
  position: absolute;
  content: "";
  width: 55%;
  height: 12%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  bottom: 0%;
}

.shakingEgg {
  background: var(--egg);
  width: 65%;
  height: 85%;
  border: solid 3px black;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: inset 0px -20px 0px 0px var(--egg-shadow);
  animation: shake 0.15s;
  z-index: 1;
}

.shakingEggShadow {
  position: absolute;
  content: "";
  width: 55%;
  height: 12%;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  bottom: 0%;
  animation: shadow-wobble 0.15s;
}

@keyframes crack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.crack li {
  position: absolute;
  list-style: none;
  background: black;
  height: 2.5px;
  opacity: 0;
  animation: crack 0s ease-out forwards;
  z-index: 1;
}

.crack li:nth-child(1) {
  width: 16%;
  top: 35%;
  left: 61px;
  transform: rotate(23deg);
  animation-delay: 0.1s;
}

.crack li:nth-child(2) {
  width: 13%;
  top: 35%;
  left: 33%;
  transform: rotate(-35deg);
  animation-delay: 0.2s;
}

.crack li:nth-child(3) {
  width: 16%;
  top: 35%;
  left: 44%;
  transform: rotate(23deg);
  animation-delay: 0.8s;
}

.crack li:nth-child(4) {
  width: 13%;
  top: 34%;
  left: 57%;
  transform: rotate(-45deg);
  animation-delay: 0.9s;
}

.crack li:nth-child(5) {
  width: 13.2%;
  top: 33%;
  left: 67%;
  transform: rotate(23deg);
  animation-delay: 1.2s;
}

.eggImg {
  position: relative;
  width: 201px;
  height: 261px;
  z-index: 1;
}

@keyframes moveup {
  0% {
  }
  100% {
    transform: translateY(-70px);
  }
}

@keyframes move {
  0% {

  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
  }
}

.eggTop {
  position: absolute;
  width: 91%;
  left: 5%;
  top: 0%;
  animation: moveup 0.5s linear forwards;
  animation-delay: 0.5s;
  z-index: 1;
}

.eggBottom {
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 0%;
  z-index: 1;
}

.luckqui {
  position: absolute;
  scale: 1.2;
  top: 12%;
  left: 26%;
  animation: move 1s infinite;
}
