@media screen and (min-width:767px) {
    .QuizShortContent{
        width: 95;
        height: 100%;
    }
    .content_title{
        margin-top: 2%;
        margin-bottom: 3%;
        width: 100%;
    }
    
    .content_title input{
        padding: 0;
       width: 100%;
       height: 90px; 
       text-align: center;
       font-size: 40px;
       border-radius: 20px;
       border-style: none;
       background-color: var(--white-color);
       gap: 5%;
    }
    
    .content_images{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .content_images>img{
        background-color: var(--white-color);
        width: 400px;
        height: 200px;
        min-height: 200px;
        border-radius: 20px;
        opacity: 90%;
        color: var( --placeholder-text);
        
        /* margin-bottom: 5%; */
        object-fit: cover;

    }
    
    .content_answerbox{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        gap: 2vh
    }
    
    .content_answer{
        background-color: var(--white-color);
        height: 90px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    
    .content_submitbox{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .content_submit{
      background-color: var(--select-three);
      width: 90px;
      height: 40px;
      color:  var(--white-color);
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content_color{
        background-color: red;
        height: 100%;
        width: 100px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .content_color>div{
        display: flex;
        font-size: 44px;
        color: var(--white-color);
    }
    
    .content_input{
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    
    .content_input input{
        width: 100%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 28px;
        padding-left: 10px;
        outline: none;
        border-style: none;
    }
    
    
}

@media screen and (max-width: 767px) {

    .QuizShortContent{
        width: 95;
        height: 100%;
    }

    .content_title{
        margin-top: 2%;
        margin-bottom: 10%;
    }
    
    .content_title input{
       width: 350px;
       height: 70px; 
       text-align: center;
       font-size: 22px;
       border-radius: 20px;
       border-style: none;
       background-color: var(--white-color);
    }
    
    .content_images{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .content_images>img{
        background-color: var(--white-color);
        width: 250px;
        height: 140px;
        border-radius: 20px;
        opacity: 90%;
        color: var( --placeholder-text);
        /* margin-top: 5%; */
        /* margin-bottom: 5%; */
        object-fit: cover;

    }
    

    
    .content_answerbox{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5%;
    }
    
    .content_answer{
        background-color: var(--white-color);
        height: 65px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 250px;
    }
    
    .content_color{
        height: 100%;
        width: 70px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .content_color>div{
        display: flex;
        font-size: 32px;
        color: var(--white-color);
    }
    
    .content_input{
        height: 100%;
        display: flex;
        width: 100%;
     
    }
    
    .content_input input{
        width: 100%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 22px;
        padding-left: 10px;
        outline: none;
        border-style: none;
        
    }

    .content_submitbox{        
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .content_submit{
      background-color: var(--select-three);
      width: 80px;
      height: 30px;
      color:  var(--white-color);
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }

    .content_submit:hover{
        opacity: 70%;
    }
}

