
@media screen and (min-width:767px) {
    .content_title{
        margin-top: 2%;
        margin-bottom: 3%;
    }
    
    .content_title input{
       width: 100%;
       height: 90px; 
       text-align: center;
       font-size: 40px;
       border-radius: 20px;
       border-style: none;
       background-color: var(--white-color);
    }
    
    .content_images{
        display: flex;
        justify-content: center;
    }
    
    .content_images>img{
        background-color: var(--white-color);
        width: 400px;
        height: 200px;
        min-height: 200px;
        border-radius: 20px;
        opacity: 90%;
        color: var( --placeholder-text);
        /* margin-bottom: 1%; */
        margin-top: 5%;
        margin-bottom: 5%;
        object-fit: cover;
    }
    
    .plus_font{
        font-size: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .plus_comment{
        font-size: 48px;
        cursor: pointer;
    }
    
    .content_answerbox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        column-gap: 100px;
        width: 100%;
        /* margin-top: 30px; */
    }
    
    .content_answer{
        background-color: var(--white-color);
        height: 90px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    
    .content_color{
        background-color: red;
        height: 100%;
        width: 100px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .content_color>div{
        display: flex;
        font-size: 44px;
        color: var(--white-color);
    }
    
    .content_input{
        height: 100%;
        display: flex;
        width: 100%;
    }
    
    .content_input input{
        width: 100%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 28px;
        padding-left: 10px;
        outline: none;
        border-style: none;
    }
    
    
}

@media screen and (max-width: 767px) {

    .QuizOxContent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_title{
        margin-top: 2%;
        margin-bottom: 10%;
    }
    
    .content_title input{
       width: 350px;
       height: 70px; 
       text-align: center;
       font-size: 22px;
       border-radius: 20px;
       border-style: none;
       background-color: var(--white-color);
    }
    
    .content_images{
        display: flex;
        justify-content: center;
    }
    
    .content_images>img{
        background-color: var(--white-color);
        width: 250px;
        height: 140px;
        border-radius: 20px;
        opacity: 90%;
        color: var( --placeholder-text);
        margin-top: 20%;
        margin-bottom: 20%;
        /* display: none; */
        object-fit: cover;
        
    }
    

    
    .content_answerbox{
        display: grid;
        grid-template-columns: repeat(2,170px);
        row-gap: 20px;
        column-gap: 10px;
        /* margin-top: 30px; */

    }
    
    .content_answer{
        background-color: var(--white-color);
        height: 60px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        
    }
    
    .content_color{
        background-color: red;
        height: 100%;
        width: 100px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .content_color>div{
        display: flex;
        font-size: 32px;
        color: var(--white-color);
    }
    
    .content_input{
        height: 100%;
        display: flex;
        width: 100%;
    }
    
    .content_input input{
        width: 100%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 22px;
        padding-left: 10px;
        outline: none;
        border-style: none;
    }
}

