.quiz-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 2px 2px 3px 3px #66666625;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 7%;
  padding-right: 7%;
  box-sizing: border-box;
}

.quiz-row-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0;
  background-color: transparent;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: white;
}

.logo-img-container {
  width: fit-content;
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.logo-img {
  height: 50%;
  margin-right: 30px;
}

.quiz-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.placeholder {
  color: var(--placeholder-text);
}

.add-icon {
  color: var(--placeholder-text);
  font-size: 40px;
}

.parti {
  width: 90px;
  display: flex;
  justify-content: flex-start;
}
