@media screen and (min-width: 747px) {
    .quizBox {
        transition: transform 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        /* height: 100px; */
        background-color: white;
        box-shadow: 2px 2px 3px 3px #66666625;
        border-radius: 20px;
        margin-bottom: 30px;
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;
        position: relative;
    }
    .quizBox:hover {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 747px) {
    .quizBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        min-width: 480px;
        /* height: 100px; */
        background-color: white;
        box-shadow: 2px 2px 3px 3px #66666625;
        border-radius: 20px;
        margin-bottom: 30px;
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;
    }
}

.quizRowFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.logoImgContainer {
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.logoImg {
    width: 85px;
    margin-right: 50px;
}

.quizTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.placeholder {
    color: var(--placeholder-text);
    font-size: 15px;
}

.addIcon {
    color: var(--placeholder-text);
    font-size: 40px;
    cursor: pointer;
}

.parti {
    width: 90px;
    display: flex;
    justify-content: flex-start;
}