@media screen and (min-width: 1000px) {
    .quizBox {
        transition: transform 0.3s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        /* height: 100px; */
        background-color: white;
        box-shadow: 2px 2px 3px 3px #66666625;
        border-radius: 20px;
        margin-bottom: 30px;
        padding-left: 6%;
        padding-right: 5%;
        box-sizing: border-box;
        position: relative;
    }
    .quizBox:hover {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 1000px) {
    .quizBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        min-width: 480px;
        /* height: 100px; */
        background-color: white;
        box-shadow: 2px 2px 3px 3px #66666625;
        border-radius: 20px;
        margin-bottom: 30px;
        padding-left: 6%;
        padding-right: 5%;
        box-sizing: border-box;
        position: relative;
    }
}

.quizRowFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.logoImgContainer {
    width: fit-content;
    height: 90px;
    display: flex;
    align-items: flex-end;
}

.logoImg {
    width: 75px;
    margin-right: 50px;
}

.quizTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.placeholder {
    color: var(--placeholder-text);
    font-size: 14px;
}

.addIcon {
    color: var(--placeholder-text);
    font-size: 40px;
    cursor: pointer;
}

.parti {
    width: 90px;
    display: flex;
    justify-content: flex-start;
    margin-left:3%;
}

.parti_box{
    display: flex;
    align-items: center;
    
    
}

.parti_trash{
    font-size: 28px;
    display: flex;
    visibility: hidden;

    z-index: 2;

}

.parti_trash:hover{
    /* font-size: 38px; */
}

.quizBox:hover .parti_trash{
    visibility: visible;
}