.sideTab {
    width: 70%;
    min-width: 91px;
    background-color: #F2EFFF;
    border-radius: 18px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7% 7% 7% 10%;
}


.logout {
    display: flex;
    align-items: center;
    padding: 7% 7% 7% 10%;
    gap: 8px;
}

.menu:hover, .logout:hover{
    background-color: #ded9fa;
}

.profile {
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    height: 110px;
    align-items: center;
}

.profileName {
    display: flex;
    justify-content: center;
    text-align: center;
}

.profileImg {
    width: 30%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-left: 10px;
    /* border: 4px solid var(--button-one) */
}

.profil_box {
    display: flex;
    align-items: center;
    /* padding: 10% 4%; */
    font-size: 17px;
    background-color: var(--white-color);
    border-radius: 10px;
    width: 90%;
    height: 80px;
    gap: 20px;
}

.profileBoard {
    background-color: var(--button-one);
    font-size: 14px;
    color: var(--white-color);
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.profileRight {
    /* background-color: red; */
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

