.sideTab {
  width: 70%;
  background-color: #F2EFFF;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7% 7% 7% 10%;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10% 15%;
  font-size: 17px;
}

.profileName {
  width: 100%;
  display: flex;
  justify-content: end;
  text-align: center;
}

.profileImg {
  width: 35%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit:cover;
}
