.btnBox {
  display: flex;
  height: 5vh;
  width: fit-content;
}

.logoBox {
  width: max-content;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px 0px 0px 10px;
  background-color: white;
  background-image: url(assets/images/orange_logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 4px 4px #00000015;
  box-sizing: border-box;
}

.nameBox {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background-size: contain;
  background-position: center;
  background-color: var(--button-two);
  box-shadow: 4px 4px #00000015;
  padding-left: 0.6em;
  padding-right: 0.6em;
  box-sizing: content-box;
  font-size: 30px;
}
