.container {
  position: relative;
  margin: 5%;
  z-index: -1;
}

.profileBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 38%;
}

.profileImg {
  width: 54%;
  border-radius: 100%;
  margin-top: 10%;
  object-fit: cover;
  border: 2px solid var(--grey-color);
}

.nameTag {
  position: absolute;
  top: 90%;
  height: 40%;
  width: 65%;
  border-radius: 10px;
  background-color: rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}