.emotionGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera, .photoImg {
    width: 580px;
    border: 3px solid var(--button-two);
    border-radius: 20px;
    margin-top: 25px;
}

.shootBtn {
    border: none;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--button-two);
    font-size: 17px;
    cursor: pointer;
}

.againBtn {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--button-two);
    font-size: 17px;
    cursor: pointer;
}

.submitBtn {
    border: none;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}