.container {
  height: calc(100% - 130px);
  display: flex;
}

.side {
  width: 20%;
  /* min-width :198px;  */
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: calc(12vh + 30px);
}

.side-tab-box {
  width: 70%;
  height: 250px;
  background-color: #F2EFFF;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7% 7% 7% 10%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 9%;
}

.profile-img {
  width: 35%;
  border-radius: 50%;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 3.5vh 5% 3.5vh 5%;
  font-size: 28px;
}

.quiz-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 3px 3px #66666625;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 7%;
  padding-right: 7%;
  box-sizing: border-box;
}

.list-col-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 6% 6% 6%;
}

.quiz-row-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0;
  background-color: transparent;
}

.logo-img-container {
  width: fit-content;
  height: 100px;
  display: flex;
  align-items: end;
}

.logo-img {
  height: 50%;
  margin-right: 30px;
}
